.hero-section{
    position: relative;

    padding: 50px 80px;

    width: 100%;
    height: 100%;

    box-sizing: border-box;
    
    background-image: url('/images/hero_image.png');
    background-size: cover;
    background-position: center 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;

    button:hover{
        cursor: pointer;
    }

    header{ 
        display: flex;
        align-items: center;
        justify-content: space-between;
    
        #logo{
            width: 50px;
            height: 70px;
    
            background-image: url('/images/logo.svg');
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
        }
    
        nav#desktop-nav,
        nav#mobile-nav{
            button{
                font-family: 'Lato', sans-serif;
                font-weight: bold;
                font-size: 14pt;
                
                color: #fff;
    
                border: none;
                background-color: transparent;
            }
        }
        nav#desktop-nav{
            button:not(:last-child){
                margin-right: 30px;
            }
        }
        nav#mobile-nav{
            display: none;
        }
    }

    .hero-content-container{
        display: flex;
        align-items: center;
        justify-content: space-between;

        margin: 0 70px 0 140px;

        .hero-content{
            position: relative;

            .header-art{
                position: absolute;
                left: -100%;
                right: 100%;

                opacity: .1;
                transform: scaleX(-1);
            }

            .button-art{
                position: absolute;
                left: 5px;
                bottom: -50px;

                width: 100px;
                height: 50px;

                background-image: url('/images/button_art.svg');
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
            }

            h1,p{
                margin: 0;
            }
            h1{
                max-width: 700px;

                margin-bottom: 45px;

                font-family: 'Sen', sans-serif;
                font-weight: normal;
                font-size: 80pt;
                line-height: 80%;
                
                color: #FFB800;
            }
            p{
                max-width: 550px;

                margin-bottom: 45px;                

                font-family: 'Open Sans', sans-serif;
                font-size: 20pt;
                
                color: #ddd;
            }
            button{
                padding: 10px 27px;

                font-family: 'Open Sans', sans-serif;
                font-size: 14pt;
                font-weight: bold;
                
                color: #fff;
                background-color: #D11F1F;
                
                border: none;
            }
        }   
        .hero-bust{
            width: 400px;
            height: 700px;

            margin-right: 5%;

            background-image: url('/images/bust.png');
            background-size: 160%;
            background-position: center;
            background-repeat: no-repeat;
        }
    }

    .polygon{
        position: absolute;
        bottom: 100px;    
        left: 50%;
        transform: translateX(-50%);

        width: 30px;
        height: 30px;

        background-image: url('/images/polygon.svg');
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }
}

@media (max-width: 1500px) {
    .hero-section{
        .hero-content-container{
            margin-top: 100px;

            .hero-content{
                h1{
                    max-width: 500px;
                    font-size: 60pt;
                }
                p{
                    max-width: 500px;
                    font-size: 18pt;
                }
            }
            .hero-bust{
                width: 300px;
                height: 500px;
            }
        }
    }
}

@media (max-width: 1250px) {
    .hero-section{
        .hero-content-container{
            align-items: normal;
            justify-content: center;
            margin: 200px 0 0 0;

            width: 100%;

            .hero-content{
                h1,p{
                    margin-bottom: 30px;
                }
            }

            .hero-bust{
                display: none;
            }
        }
    }
}

@media (max-width: 800px) {
    .hero-section{
        padding: 30px 50px;
    }
}

@media (max-width: 650px){
    .hero-section{
        padding: 20px 30px;
        
        header{
            nav#desktop-nav{
                display: none;
            }
            nav#mobile-nav{
                display: block;

                position: relative;
                z-index: 3;

                #btn-open-nav{
                    width: 30px;
                    height: 30px;

                    background-color: transparent;
                    background-image: url('/images/menu.svg');
                    background-size: cover;
                    background-position: center;
                    background-repeat: no-repeat;

                    border: none;
                }
                #btn-open-nav.opened{
                    padding: 10px;
                    background-color: #000;
                    background-image: url('/images/hide_menu.svg');

                    border-radius: 5px 5px 0 0;
                }

                .nav-buttons{
                    position: absolute;
                    right: 0;

                    display: flex;
                    flex-direction: column;
                    overflow: hidden;
                    
                    width: 200px;
                    height: 0;
                    
                    background-color: #000;

                    border-radius: 5px 0 5px 5px;

                    button{
                        padding: 16px;
                    }
                }
            }
        }

        .hero-content-container{
            .hero-content{
                border-style: dashed;
                h1{
                    font-size: 50pt;
                    max-width: 400px;
                    border-style: dashed;
                }
                p{
                    max-width: 400px;
                    font-size: 14pt;
                }
            }
        }
    }
}

@media (max-width: 500px){
    .hero-section{
        .hero-content-container{
            .hero-content{
                h1{
                    font-size: 40pt;
                    max-width: 350px;
                }
                p{
                    max-width: 350px;
                }
            }
        }
    }
}