.about-section{
    display: flex;
    
    height: 600px;

    .about-image{
        background-size: 120%;
        background-repeat: no-repeat;
    }
    .about-image-1{
        background-image: url('/images/about_image_1.png');
        background-position: 70% 50%;
    }
    .about-image-2{
        background-image: url('/images/about_image_2.png');
        background-position: 30% 50%;
    }
    .about-image-3{
        background-image: url('/images/about_image_3.png');
        background-position: 70% 50%;
    }

    .about-content-container{
        display: flex;
        flex-direction: column;
        justify-content: center;

        .about-content{
            position: relative;

            padding: 0 80px 0 100px;

            .about-content-art{
                position: absolute;
                top: 10px;
                left: 10px;

                // To align with h3
                width: 100%;
                padding: 0 80px 0 100px;
                box-sizing: border-box;
                

                opacity: .2;
            }
            .about-content-art-orange{
                color: #F27405;
            }
            .about-content-art-pink{
                color: #F20544;
            }
            .about-content-art-blue{
                color: #04BFAD;
            }

            h3,p{
                margin: 0;
            }
            h3{
                position: relative;
                z-index: 2;

                margin-bottom: 20px;
    
                font-family: 'League Spartan', sans-serif;
                font-size: 58pt;
                line-height: 77%;
            }
            p{
                width: 80%;

                font-family: 'Open Sans', sans-serif;
                font-size: 18pt;
                text-align: justify;
                
                color: #ddd;
            }
        }
    }
}
.about-section-reverse{
    flex-direction: row-reverse;
    .about-content-container{
        .about-content{
            padding: 0 100px 0 80px;
            
            .about-content-art{
                padding: 0 100px 0 80px;
            }

            h3{
                text-align: right;
            }
            p{
                margin-left: 20%;
            }
        }
    }
}
.about-section > *{
    flex: 1;
}