.cta-section{
    position: relative;

    .cta-images-container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;

        .cta-image{
            aspect-ratio: 1;

            background-size: cover;
            background-size: 120%;
            background-position: center 10%;
            background-repeat: no-repeat;
        }
        .cta-image-1{
            background-image: url('/images/cta_image_1.png');
        }
        .cta-image-2{
            background-image: url('/images/cta_image_2.png');
        }
        .cta-image-3{
            background-image: url('/images/cta_image_3.png');
        }
        .cta-image-4{
            background-image: url('/images/cta_image_4.png');
        }
        .cta-image-5{
            background-image: url('/images/cta_image_5.png');
        }
        .cta-image-6{
            background-image: url('/images/cta_image_6.png');
        }
    }

    .cta{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        width: 1000px;
        height: 450px;

        background-image: url('/images/EEFAAN.svg');
    }
}