html{
    scroll-behavior: smooth;
}

html,body{
    height: 100%;

    margin: 0;
    padding: 0;

    color: #fff;
    background-color: #000;

    overflow-x: hidden;
}

*{
    border-color: red;
}

/* Fonts */
@font-face {
    font-family: 'Lato';
    src: url('/fonts/Lato-Regular.ttf');
    font-weight: normal;
}
@font-face {
    font-family: 'Lato';
    src: url('/fonts/Lato-Bold.ttf');
    font-weight: bold;
}

@font-face {
    font-family: 'Sen';
    src: url('/fonts/Sen-Regular.ttf');
    font-weight: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('/fonts/OpenSans-Regular.ttf');
    font-weight: normal;
}

@font-face {
    font-family: 'League Spartan';
    src: url('/fonts/LeagueSpartan-Bold.ttf');
    font-weight: bold;
}